package test_helpers

import (
	"context"
	bat "github.com/JensvandeWiel/go-bat/pkg"
	"github.com/google/uuid"
	"github.com/gorilla/sessions"
	"github.com/labstack/echo/v4"
	"log/slog"
	"net/http/httptest"
	"os"
	"testing"
)

type AlterBatTestFunc func(b *bat.Bat)

func SetupBatTestContext(t *testing.T, method string, logger *bat.Logger, alterFuncs ...AlterBatTestFunc) (echo.Context, *bat.Bat, *httptest.ResponseRecorder) {
	ssExt, err := bat.NewSessionExtension(bat.WithSessionStore(sessions.NewCookieStore([]byte("secret"))))
	e, err := bat.NewBat(logger, ssExt)
	if err != nil {
		t.Fatal("Failed to create bat instance", err.Error())
	}

	for _, f := range alterFuncs {
		f(e)
	}
	req := httptest.NewRequest(method, "/", nil)
	rec := httptest.NewRecorder()
	ctx := e.NewContext(req, rec)
	id, err := uuid.NewRandom()
	if err != nil {
		t.Fatal("Failed to generate request ID", err.Error())
	}

	ctx.Set("request_id", id.String())
	ctx.Set("logger", logger.With("request_id", id.String()))
	ctx.Response().Header().Set(echo.HeaderXRequestID, id.String())
	return ctx, e, rec
}

func SetupLogger() *bat.Logger {
	return &bat.Logger{slog.New(slog.NewJSONHandler(os.Stdout, &slog.HandlerOptions{
		Level: slog.LevelDebug,
	}))}
}

func SetupSession(ctx echo.Context) *sessions.Session {
	store := sessions.NewCookieStore([]byte("secret"))
	ctx.Set("_session_store", store)
	session, _ := store.Get(ctx.Request(), "session")
	SetSession(ctx, session)
	return session
}

func SetSession(ctx echo.Context, session *sessions.Session) {
	ctx.Set(bat.DefaultSessionKey, session.ID)
	ctx.SetRequest(ctx.Request().WithContext(context.WithValue(ctx.Request().Context(), bat.DefaultSessionKey, session.ID)))
}
